<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbs.biz.data.dao.PeerContactsDao">
    <resultMap id="BaseResultMap" type="com.nbs.biz.data.entity.PeerContactsEntity">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="fromid" property="fromid" jdbcType="VARCHAR"/>
        <result column="nick" property="nick" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="avatar_suffix" property="avatarSuffix" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="locations" property="locations" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="online" property="online" jdbcType="INTEGER"/>
        <result column="ctime" property="ctime" jdbcType="INTEGER"/>
        <result column="lmtime" property="lmtime" jdbcType="BIGINT"/>
    </resultMap>
    <insert id="insert">
        INSERT INTO p_contacts (id, fromid, nick,avatar,avatar_suffix,ip,locations,remark,online)
        VALUES (#{id}, #{fromid}, #{nick},<if test="avatar == null">''</if><if test="avatar != null">#{avatar}</if>,#{avatarSuffix},#{ip},#{locations},#{remark},#{online})
    </insert>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM p_contacts where id = #{id}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM p_contacts
    </select>

    <select id="find" resultMap="BaseResultMap" statementType="STATEMENT" parameterType="map">
        SELECT * FROM p_contacts where ${field} = ${val}
    </select>

    <delete id="delete" parameterType="java.lang.String">
        DELETE * from p_contacts WHERE id=#{id}
    </delete>

    <select id="count" resultType="java.lang.Integer">
        SELECT count(1) FROM p_contacts
    </select>

    <select id="exist" resultType="java.lang.Integer">
        SELECT count(1) FROM p_contacts where id = #{id}
    </select>

    <delete id="deleteAll">
        delete from p_contacts
    </delete>


    <update id="update">
        UPDATE p_contacts
        <set>
            nick=#{nick},
            fromid=#{fromid},
            avatar=#{avatar},
            avatar_suffix=#{avatarSuffix},
            ip = #{ip},
            locations = #{locations},
            remark = #{remark},
            online = #{online},
            lmtime = #{lmtime},
        </set>
        WHERE id=#{id}
    </update>


    <update id="updateIgnoreNull">
        UPDATE p_contacts
        <set>
            <if test="nick!= null">nick=#{nick},</if>
            <if test="avatar!= null">avatar=#{avatar},</if>
            <if test="avatarSuffix!= null">avatar_suffix=#{avatarSuffix},</if>
            <if test="ip!= null">ip=#{ip},</if>
            <if test="locations!= null">locations=#{locations},</if>
            <if test="remark!= null">remark=#{remark},</if>
            <if test="online!= null">online=#{remark},</if>
            lmtime=#{lmtime},
        </set>
        WHERE id=#{id}
    </update>

    <update id="peerOffLine" parameterType="java.lang.String">
        UPDATE  p_contacts SET online = 0 and lmtime = datetime('now','localtime') WHERE id =#{id}
    </update>
</mapper>