<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbs.biz.data.dao.NBSTableDao">

    <select id="tableExist" resultType="java.lang.Integer">
		select count(1) AS c from sqlite_master where type = 'table' and name = #{name}
	</select>

    <update id="createPeerdLogin">
        create table p_login (
          id varchar(64) PRIMARY KEY,
          fromid varchar(64),
          nick varchar(100),
          avatar varchar(100),
          avatar_suffix varchar(64),
          ip varchar (32),
          locations varchar (200),
          remark varchar(200),
          ext_json text,
          seckey varchar (256),
          sysuser varchar (100),
          ctime TimeStamp NOT NULL DEFAULT (datetime('now','localtime')),
          lmtime bigint
        );
    </update>

    <update id="createPeerContacts">
        create table p_contacts (
        id varchar(64) PRIMARY KEY,
        fromid varchar (64),
        nick varchar(100),
        avatar varchar(100),
        avatar_suffix varchar(64),
        ip varchar (32),
        locations varchar (200),
        remark varchar(200),
        online integer default 0,
        ctime TimeStamp NOT NULL DEFAULT (datetime('now','localtime')),
        lmtime bigint
        );
    </update>

    <update id="createPeerMessages">
        CREATE table p_messages (
        id varchar (64) not null,
        seqno varchar(20) ,
        fromid varchar (100),
        fromhash varchar (100),
        self integer default 0,
        topic varchar (100),
        roomid varchar(36),
        msg text,
        mtype integer default 1,
        ip varchar (32),
        recvtime bigint,
        ctime TimeStamp NOT NULL DEFAULT (datetime('now','localtime'))
        );
    </update>

    <update id="createWorldMessages">
       CREATE table w_messages (
          id varchar(36) PRIMARY KEY,
          formid varchar (100),
          formhash varchar (100),
          self integer default 0,
          topic varchar (100),
          roomid varchar(36),
          msg text,
          creator varchar (100),
          mtype integer default 1,
          ip varchar (32),
          recvtime bigint ,
          ctime TimeStamp NOT NULL DEFAULT (datetime('now','localtime'))
        );
    </update>

    <update id="createAttachmentInfo">
        <!--
            id file Hash
            peerhash
            prehash prevous
        -->
        CREATE table attac_info (
        id varchar(64) PRIMARY KEY,
        peername varchar(128),
        peerhash varchar(64),
        prehash varchar(64),
        fname varchar (128),
        fsize bigint,
        fsuffix varchar (32),
        fromid varchar(64),
        seqno varchar (64),
        cached integer default 0,
        cachedfile varchar(1000),
        inlocal integer default 1,
        ftype varchar(20),
        sortno INTEGER ,
        ctime TimeStamp NOT NULL DEFAULT (datetime('now','localtime')),
        lmtime bigint
        );
    </update>

    <update id="createUploadInfo">
        CREATE table upload_info (
        id integer PRIMARY KEY autoincrement,
        hash58 varchar(64),
        fname varchar (128),
        fsize varchar (20),
        fsuffix varchar (32),
        fromid varchar(36),
        cached integer default 0,
        cachedfile varchar(256),
        ctime TimeStamp NOT NULL DEFAULT (datetime('now','localtime'))
        );
    </update>
    <!--
        hash_links
        id file hash
        phash
        size
     -->
    <update id="createHashLinks">
        CREATE table hash_links (
          id varchar(64) PRIMARY KEY,
          phash varchar(64),
          rhash varchar(64),
          size bigint,
          cached integer default 0,
          srcid varchar(64),
          cachedblk integer default 0,
          subs integer ,
          ctime TimeStamp NOT NULL DEFAULT (datetime('now','localtime')),
          lmtime bigint
        );
    </update>

    <select id="findAll" resultType="com.nbs.biz.model.NBSTest">
        SELECT id,name,ctime,lmtime from nbs_test
    </select>
</mapper>   